<div class="container mt-3 d-flex flex-row-reverse">
    <div style="color: #222;font-weight: 900;font-size: x-large;" id="temperature_display"></div>
    <div style="width: 20px;"> </div>
    <div>
        <select name="" id="" class="form-control" style="width: 200px;" onchange="getTemperature(this)">
            <option value=""> WEATHER</option>
            <option value="chennai">CHENNAI</option>
            <option value="bengaluru">BENGALURU</option>
            <option value="delhi">DELHI</option>
            <option value="hyderabad">HYDERABAD</option>
            <option value="machilipatnam">MACHILIPATNAM</option>
        </select>
    </div>
</div>