
<div class="container mt-5 p-4"> 
    <div class="row">
        <div class="col">
            <div class="container text-center" >
                <div  style="font-size:60px; font-weight: 900; color: #222;">Welcome <br> To Our Site</div>
                <p style="font-weight: 200; font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat ratione numquam 
                    ex eius eveniet veniam exercitationem iste sunt fugiat distinctio nostrum, 
                    ipsa quia veritatis modi, illo inventore esse doloribus debitis!</p>
                <a routerLink="/student-dashboard" class=" btn btn-primary p-3 " style="width: 50%; border-radius: 50px;">STUDENT</a>
                <br>
                <br>
                <a href="" class="btn btn-primary p-3 "style="width: 50%; border-radius :50px;">MENTOR</a>
            </div>
        </div>
        <div class="col">
            <div class="container" >
                <img src="../../../assets/lmsimage.png" alt="lms"
            style="height: 400px; width: auto; margin: auto auto;" >
            
            </div>
            
        </div>
    </div>
</div>